<html>
  <head>
    <meta charset="UTF-8" />
    <title>Skoda India</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="icon" type="image/x-icon" href="/sunera_log.jpg" /> -->
  </head>
  <body id="snx-body">
    <script src="/assets/js/concat.js"></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"
    ></script>
    <script>
      window.onload = function () {
        var BOT_ID = "60dad19d727613be765a861c",
          BOT_NAME = "test";
        servicenext.webchat_init(BOT_NAME, BOT_ID);
      };
    </script>
     <style>
        body{
            margin:0px;
            padding:0px;
            width: 100%;
            overflow:hidden;
            background: url(images/body-bg.jpg) no-repeat top center;
        }
    </style>
  </body>
</html>